{% set pagetitle = "Home | Circuit Reboot" %}
{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg')}}')">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
               <h1>
                  {% if title %}
                  {{title}}
                  {% else %}
                  All Posts
                  {% endif %}
               </h1>
               <span class="subheading"></span>
            </div>
         </div>
      </div>
   </div>
</header>

<!-- Main Content -->
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


         {% for post in posts %}
         <div class="post-preview">
            <a href="/post/{{post.post_slug}}">
               <h2 class="post-title">
                  {{post.post_name}}
               </h2>
               <h3 class="post-subtitle">
                  {{post.post_subtitle}}
               </h3>
            </a>
            <p>{{post.post_content[:150]}}...</p>
            <p class="post-meta">Posted by
               <a href="#">{{post.author}}</a>
               on {{post.datetime}}</p>
         </div>
         <hr>
         {% endfor %}


         <!-- Pager -->
         <div class="clearfix">
            <a href="{{page-1}}" class="btn btn-primary float-left 
            {% if page == 0 %}
              disabled
            {% endif %}
            "> &larr; NEWER POSTS</a>
            <a class="btn btn-primary float-right" href="{{page+1}}">Older Posts &rarr;</a>
         </div>
      </div>
   </div>
</div>


{% endblock %}